[Desktop Entry]
Encoding=UTF-8
Name=smilecoin
Comment=smilecoin P2P Cryptocurrency
Comment[fr]=smilecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=smilecoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/smilecoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/smilecoin128.png
MimeType=x-scheme-handler/smilecoin;
Categories=Office;
